@charset "utf-8";
/*Documento original CSS*/
body{
    background-color: #e9e9e9;
    color:black;
    
}
#cabecera{
    background-color: #0b1981;
    height: 150px;
    border-radius: .5em;
    max-width: 90%;
    margin: auto;
    text-align: center;
    text-shadow: 0.1em 0.2em 0.2em white;
}

.navegacionPrin{
    list-style: none;
    background: #ffffff;
    padding: 0px;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;

}

.navegacionPrin li a{
    text-shadow: 0.1em 0.1em 0.2em blueviolet;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    border-radius: .5em;
}

.navegacionPrin li{
    display: inline-block;
    text-align: center;
    background-color: #556699;
    color: #ff9900;
}

.navegacionPrin li a:hover{
    background: #63cccf;
    color: #000000;
    text-shadow: #556699;
}

li{
    background-color: white;
    text-decoration: none;
    padding: 10px;
}

#contenido{
    max-width: 90%;
    margin: auto;
    background-color: white;
    min-height: 500px;
}

#contenidoPrin{
    background-color: white;
    margin-right: 30px ;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 500px;
    padding-top: 15px;
    border: 1px solid;
    border-color: beige;

}

#tabla{
    background-color: white;
    text-align: center;
    margin: auto;
    column-rule-width: 25%;
    border: 1px solid;
    border-color: beige;
    width: 90%;
    border-collapse: separate;
    border-spacing:  2px;
    border-style:double;
    

}

table th, td {
    border: 1px solid;
    border-color: beige;
    border-collapse: separate;
    border-spacing:  2px;
}
table td:first-child {
    width: 40%;
}
table td:nth-child(2) {
    width: 20%;
}
table td:nth-child(3) {
    width: 20%;
}
table td:last-child {
    width: 20%;
}

#lista{
    max-width: 90%;
    margin: auto;
    background-color: white;
    min-height: 500px;
}

#imagen{
    float: right;
    max-width: 300px;
    margin-top: 50px;
}

#articulo{
    border: 1px solid;
}

#titulo{
    text-align: center;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border-width: 3PX;
    border: #000000;
  }
  .one {
    grid-column: 1/2;
    grid-row: 1;
  }
  .two {
    grid-column: 2/2;
    grid-row: 1;
  }
  .three {
    grid-column: 1;
    grid-row: 2;
  }
  .four {
    grid-column: 2/2;
    grid-row: 3;
  }  


#formulario{

    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

input,textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}


#piePrin{
    background-color: #556699;
    clear: both;
    max-width: 90%;
    margin-top: 30px;
    height: 150px;
    border-radius: .5em;
    margin: auto;
    text-align: center;

}

h3{
    color: #666666;
    font: normal22px arial;
    font-weight: bold;;
}

h2{
    color: #3cb7ff;
    font: normal 15px arial;
}

h1{
    color: #ffffff;
    font: normal 40px bold;
}

.fuente0 {
    font-size: 0.6rem;
}
.fuente1 {
    font-size: 0.8rem;
}
.fuente2 {
    font-size: 1rem;
}
.fuente3 {
    font-size: 1.2rem;
}
.fuente4 {
    font-size: 1.4rem;
}